[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/io/Desktop/yay]
row=6
col=0

[7d8922bf-9263-47fc-893a-3926de256332]
row=0
col=0

[081C0DAD081C0DAD]
row=1
col=0

[4CB84707B846EF50]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/io]
row=5
col=0

